body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Nuosu SIL";
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3rem 0px 5rem;
}

.header-left-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-left-section > p{
    padding-left: 10px;
    font-size: 32px;
    color: #19163D;
}

.header-right-section{
    display: flex;
    font-family: "INTER";
    font-weight: 500;
    padding-right: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-right-section > ul{
    list-style: none;
  border-radius: 100px;
  padding: 10px;
  /* margin: 0; */
  border: none;
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  width: 100%;
}

.header-right-section > p{
    padding-left: 70px;
}

.serv, .test{
    text-decoration: none;
    list-style: none;
    color: black;
}

.pp{
    text-decoration: none;
    border: none;
    color: #19163D;
}

.service{
    display: flex;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.offer{
    display: flex;
    font-size: 24px;
    font-weight: 400;
    flex-direction: column;
    text-align: center;
    margin-top: -65px;
}

.lawas{
    color: #19163D;
}

.test{
    text-decoration: none;
    list-style: none;
    color: black;
}

.box-parent{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container{
    display: flex;
    gap: 5rem;
}

.card{
    background: white;
    border-top-style: solid;
    border-width: 0px;
    width: 340px;
    height: 430px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.cask{
    color: #19163D;
    padding-top: 10px;
    font-size: 45px;
}

.card p{
    color: #19163D;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
}

.card button{
    background-color: #19163D;
    color: white;
    font-family: "Nuosu SIL";
    border: 0;
    margin-top: 30px;
    padding: 13px 43px 13px 43px;
    border-radius: 20px;
    font-size: 14px;
}

.hays{
    text-decoration: none;
    color: white;
}

.memo{
    font-size: 40px;
    color: #19163D;
}

.choose{
    padding-top: 30px;
}

.last{
    background-color: #19163D;
    /* display: flex; */
    font-family: "Nuosu SIL";
    margin-top: 100px;
}

.last-left-section{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    padding-left: 60px;
    padding-top: 20px;
}

.peaces{
    font-size: 32px;
    color: white;
    padding-left: 5px;
    /* display: flex; */
}

.serve{
    font-size: 20px;
    color: white;
    padding-left: 60px;
    margin-top: 0px;
    padding-bottom: 100px;
    font-weight: 100;
    /* padding-right: 40px; */
}

.our{
    font-size: 29px;
    /* padding-left: 450px;
    color: white; */
}

.contact{
    font-size: 29px;
    /* padding-left: 20px; */
    color: white;
    margin-top: -65px;
    padding-left: 65px;
}

.mga div{
    display: flex;
}

.imges ul{
    list-style: none;
    margin-top: -08px;
    margin-left: 20px;
}

.img1{
    padding-bottom: 38px;
}

.img2{
    padding-bottom: 15px;
}

.hays{
    display: flex;
    flex-direction: column;
}

.one ul{
    list-style: none;
    border-radius: 100px;
    padding: 10px;
    border: none;
    gap: 60px;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    color: white;
    padding-left: 310px;
    margin-top: -100px;
}

.two ul{
    list-style: none;
    border-radius: 100px;
    padding: 10px;
    border: none;
    gap: 60px;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    color: white;
    padding-left: 15px;
    margin-top: -40px;
}

@media screen and (max-width: 600px) {
    body {
        padding: 0 10px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 1rem 0 1rem;
    }
    .header-left-section {
        justify-content: flex-start;
        width: 100%;
    }
    .header-left-section > p {
        font-size: 24px;
        padding-left: 0;
    }
    .header-right-section {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0;
        margin-top: 20px;
        font-size: 14px;
        align-items: center;
        text-align: center;
        display: flex;
    }
    .header-right-section > ul {
        /* flex-direction: column; */
        text-align: center;
        align-items: center;
        gap: 50px;
        padding: 0;
        width: 100%;
    }
    .lawas{
        text-align: center;
        align-items: center;
    }
    .service p{
        font-size: 40px;
    }
    .offer{
        font-size: 15px;
        padding-top: 10px;
    }
    .box{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .container {
        flex-direction: column;
        gap: 2rem;
    }
    .card {
        width: 110%;
        height: auto;
    }
    .cask, .memo{
        font-size: 35px;
    }
    .choose{
        font-size: 18px;
    }
    .card p{
        font-size: 16px;
    }
    .card button{
        margin-bottom: 35px;
        font-size: 10px;
        width: 80%;
    }
    .last-left-section {
        /* flex-direction: column; */
        align-items: flex-start;
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
    }
    .jaja{
        padding-top: 20px;
    }
    .peaces {
        font-size: 24px;
        padding-left: 5px;
    }
    .serve {
        font-size: 16px;
        padding-left: 0;
        padding-bottom: 60px;
    }
    .our {
        padding-left: 0;
        font-size: 24px;
    }
    .contact {
        padding-top: 130px;
        padding-left: 0;
        font-size: 24px;
    }
    .mga div {
        flex-direction: column;
    }
    .imges ul {
        padding-left: 0;
        margin-top: 0;
    }
    .one ul{
        padding-left: 0;
        margin-top: 0;
        gap: 20px;
        font-size: 18px;
    }
    .two ul{
        padding-left: 0;
        margin-top: 0;
        gap: 20px;
        font-size: 18px;
    } 
    .hays{
        display: flex;
    }
    .imges{
        display: flex;
        margin-left: -35px;
        margin-top: 5px;
        padding-bottom: 20px;
    }
    .img1{
        padding-bottom: -10px;
    }
    .img2{
        margin-top: -20px;
    }
    .two{
        margin-left: 20px;
        margin-top: -197px;
    }
    .trad, .crem, .mem{
        font-size: 18px;
    }
    .mga div{
        padding-left: 10px;
    }
}